.alert {
  position: fixed;
  width: 400px;
  height: 200px;
  z-index: 10;
  background-color: #fff;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -100px;
}

.alert h3 {
  background-color: #00acff;
  margin: 0;
  color: #fff;
}

.alert p {
  height: 100px;

}

.a-confirm, .a-close, .a-cancel {
  border: 1px solid #ccc;
}

#mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  background-color: #000;
  opacity: .8;
  width: 100%;
  height: 100%;
}